<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
 th:replace="~{base ::Layout(~{::title},~{::body})}">
<head>
<meta charset="ISO-8859-1">

<title>Index Page</title>


</head>
<body>

<h1 style="text-align: center;">Department Details</h1>

<th:block th:if="${session.msg}">
	<p class="text-center text-success fs-4">[[${session.msg}]]</p>
	<th:block th:text="${@employeeServiceImpl.removeSession()}"></th:block>
</th:block>

<div class="addbtn">
	  <a th:href="@{dap}"><button type="button" class="btn btn-primary">Add  <i class="fa-solid fa-building-user fa-lg"></i></button></a>

  </div>


<div class="item1">
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Department Name</th>
       <th scope="col">Created At</th>
      <th scope="col">Updated At</th>
     
      
      
      <th scope="col">action</th>
      
    </tr>
  </thead>
  <tbody>
    <tr th:each="e,c : ${ll}">
      <!--<th scope="row">[[${c.count}]]</th> -->
      <th scope="row">[[${e.departmentId}]]</th>
      <td>[[${e.departmentName}]]</td>
      <td>[[${e.createdAt}]]</td>
      <td>[[${e.updatedAt}]]</td>
     
      
     
      <td>
		  <a th:href="@{'dep/'+${e.departmentId}}"> <button type="button" class="btn btn-primary">Edit <i class="fa-solid fa-user-pen fa-lg"></i></button></a>
		  <a th:href="@{'deleteDpt/'+${e.departmentId}}"><button type="button" class="btn btn-danger">Delete <i class="fa-solid fa-trash fa-lg"></i></button></a>
	  </td>
    </tr>
   
  </tbody>
</table>
</div>

</body>
</html>