<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
 th:replace="~{base ::Layout(~{::title},~{::body})}">
<head>
<meta charset="ISO-8859-1">
<title>Department Add Page</title>
</head>
<body>
	
	<div class="item2">
<h1 style="text-align: center;">Add Department </h1>
<th:block th:if="${session.msg}">
	<p class="text-center text-success fs-4">[[${session.msg}]]</p>
	<th:block th:text="${@employeeServiceImpl.removeSession()}"></th:block>
</th:block>
<form action="saveDPT" method="post" >
  
  
  
  <div class="mb-3">
	    <label for="exampleInputEmail11" class="form-label">Department Id</label>
	    <input type="text" class="form-control" id="exampleInputEmail11" aria-describedby="emailHelp" name="departmentId">
     </div>
     <div class="mb-3">
	    <label for="exampleInputEmail12" class="form-label">Department Name</label>
	    <input type="text" class="form-control" id="exampleInputEmail12" aria-describedby="emailHelp" name="departmentName">
     </div>
  <button type="submit" class="btn btn-primary" id="bt1">ADD</button>
</form>



</div>
</body>
</html>