<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base ::Layout(~{::title},~{::body})}">
<head>
<meta charset="ISO-8859-1">
<title>Edit Page</title>
</head>
<body>
	
	<div class="item2">
<h1 style="text-align: center;">Edit Employee </h1>
<th:block th:if="${session.msg}">
	<p class="text-center text-success fs-4">[[${session.msg}]]</p>
	<th:block th:text="${@employeeServiceImpl.removeSession()}"></th:block>
</th:block>
<form action="/updateDetails" method="post" >
  <input type="hidden" name="id" th:value="${emp.id}">
  
  <div class="mb-3">
	    <label for="exampleInputEmail11" class="form-label">First Name</label>
	    <input type="text" class="form-control" id="exampleInputEmail11" aria-describedby="emailHelp" name="firstName" th:value="${emp.firstName}">
     </div>
     <div class="mb-3">
	    <label for="exampleInputEmail12" class="form-label">Last Name</label>
	    <input type="text" class="form-control" id="exampleInputEmail12" aria-describedby="emailHelp" name="lastName" th:value="${emp.lastName}">
     </div>
     <div class="mb-3">
	    <label for="exampleInputEmail13" class="form-label">Email</label>
	    <input type="email" class="form-control" id="exampleInputEmail13" aria-describedby="emailHelp" name="email" th:value="${emp.email}">
     </div>
     
     <p>Gender</p>
  
  
  <div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="gender" id="inlineRadio1" value="Male" 
   th:attrappend="checked=${emp.gender=='Male'? 'checked' : '' }">
  <label class="form-check-label" for="inlineRadio1">Male</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="gender" id="inlineRadio2" value="Female"
   th:attrappend="checked=${emp.gender=='Female'? 'checked' : '' }">
  <label class="form-check-label" for="inlineRadio2">Female</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="gender" id="inlineRadio3" value="Others" 
   th:attrappend="checked=${emp.gender=='Others'? 'checked' : '' }">
  <label class="form-check-label" for="inlineRadio3">Others</label>
</div>
  
  
   <div class="mb-3">
	    <label for="exampleInputEmail15" class="form-label">DepartmentId</label>
	    <input type="text" class="form-control" id="exampleInputEmail15" aria-describedby="emailHelp" name="dptId" th:value="${emp.departmentId.getDepartmentId()}">
     </div>
  
  <button type="submit" class="btn btn-primary" id="bt2">Update</button>
</form>

</div>

</body>







</html>